
<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Details" ? "active" : "")" href="/Organize/Details">盤查表</a>
<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "ManageSetting" ? "active" : "")" href="/ManageSetting/ManageSetting">供應商管理</a>

