@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "修改密碼";
    string nonce = @Context.Items["CSPNonce"].ToString() as string;
}
@model ITRIProject.Models.Member



@section Scripts {
    <script nonce="@nonce">
        $(function () {
            $("#EditPassword").validate({
                //rules: {
                //    Passwd: {
                //        required: true,
                //        maxlength: 18
                //    },
                //    newpassword: {
                //        required: true,
                //        minlength: 6,
                //        maxlength: 18
                //    },
                //    repassword: {
                //        required: true,
                //        equalTo: "#newpassword"
                //    },
                //},
                //For custom messages
                messages: {
                    Passwd: {
                        required: "請輸入舊密碼"
                    },
                    newpassword: {
                        required: "請輸入新密碼",
                        minlength: "密碼至少需要 {0} 個字符",
                        maxlength: "密碼最多只能 {0} 個字符"

                    },
                    repassword: {
                        required: "請輸入確認密碼",
                        equalTo: "請與新密碼保持一致"
                    },
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
            //提交
            $("#btnSubmit").click(function () {
                var isValid = $("#EditPassword").validate().form();
                var formdata = $("#EditPassword").serialize()
                if (!isValid) {
                    return false;
                }
                $.ajax({
                    url: '/Member/EditPassword',
                    data: formdata,
                    type: "post",
                    dataType: 'json',
                    success: function (response) {
                        if (response.success) {
                            layer.msg("修改成功")
                            // 登入成功，執行相應的操作
                            window.location.reload();
                        } else {
                            // 登入失敗，處理錯誤回應
                            alert(response.error);
                        }
                    }
                });
                return false;
            });
        });
    </script>
    <style>
        span{
            color:red;
        }
    </style>
}


<div class="container">
<form asp-action="EditPassword" id="EditPassword">
    
    <div class="row">
    <div class="col-md-4">
        <div class='card backgroundcolor member_box'>
        <h1>修改密碼</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <span style='color: red;'>*</span><label class="control-label">舊密碼</label>
                <input asp-for=Passwd  name="Passwd" class="form-control " type="password" autocomplete="off" />
            </div>
            <div class="form-group">
                <span style='color: red;'>*</span><label class="control-label">新密碼</label><br />(規則:須包含1符號+1大寫英+1小寫英+1數字，最少6字元)
                <input id="newpassword" name="newpassword" type="password" class="form-control" autocomplete="off">
            </div>
            <div class="form-group">
                <span style='color: red;'>*</span><label class="control-label">確認密碼</label>
                <input id="repassword" name="repassword" type="password" class="form-control" autocomplete="off">
            </div>

            <div class="form-group" style="text-align:center">
                <button id="btnSubmit" class="btn btn-primary" style="width:200px"  name="action">更改</button>
            </div>

   </div>
    </div>     
    </form>
</div>
