@model ITRIProject.Models.Member

@{
    ViewData["Title"] = "Register";
    string nonce = @Context.Items["CSPNonce"].ToString() as string;
}
@section Scripts {
    <script nonce="@nonce">
        $(function () {

            $("#Register").validate({
                rules: {
                    Account: "required",
                    Passwd: {
                        required: true,
                        minlength: 6
                    },
                    rePasswd: {
                        required: true,
                        equalTo: "#Passwd" // 确保 rePasswd 与 Passwd 相同
                    },
                    Email: {
                        required: true,
                        email: true // 使用 email 规则验证电子邮件格式
                    },
                    captchaCode: "required",
                    Name: "required",
                    UserType: "required",

                },
                messages: {
                    Account: "請輸入帳號",
                    Passwd: {
                        required: "請輸入密碼",
                        minlength: "密碼至少六個字",
                        passwordLength: "密碼至少六個字",
                        maxlength: "密碼最多只能 {0} 個字符"

                    },
                    rePasswd: {
                        required: "請輸入確認密碼",
                        equalTo: "請與密碼保持一致"
                    },
                    Email: {
                        required: "請輸入Email",
                        email: "Email格式不正確" // 自定义错误消息
                    },
                    captchaCode: "請輸入驗證碼",
                    Name: "請輸入姓名",
                    UserType: "請選擇用戶類型"
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        });
        $(document).ready(function () {
            $("#Register").submit(function (event) {

                var isValid = $("#Register").validate().form();
                if (!isValid) {
                    return false;
                }
                event.preventDefault(); // 防止表單的預設提交行為

                var formData = $(this).serialize(); // 序列化表單數據

                $.ajax({
                    url: "/Member/Register",
                    type: "POST",
                    data: formData, // 將表單數據和驗證碼傳遞到後端
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            alert("註冊成功")
                            // 登入成功，執行相應的操作
                            window.location.href = "/Member/Login";
                        } else {
                            // 登入失敗，處理錯誤回應
                            alert(response.error);
                        }
                    },
                });
                return false; // 阻止表單的預設提交行為

            });
        });
        //發送
        $("#btnSend").click(function () {
            var isValid = $("#Register").validate().element($("#email"));

            if (!isValid) {
                return false;
            }
            $.ajax({
                url: '/Member/RegisterEmail',
                data: { //email: $("#email").val()
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                    "email": $('input[id="email"]').val(),
                    "account": $('input[id="Account"]').val(),
                },
                headers: {
                    'X-CSRF-TOKEN': $('input[name="__RequestVerificationToken"]').val(),
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val(),
                    '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val(),
                    'CSRFToken': $('input[name="__RequestVerificationToken"]').val(),
                    'csrf_token': $('input[name="__RequestVerificationToken"]').val(),
                    'OWASP_CSRFTOKEN': $('input[name="__RequestVerificationToken"]').val(),
                },
                type: "post",
                dataType: 'json',
                success: function (response) {
                    $("#verId").val("");
                    if (response.success) {
                        $("#verId").val(response.id);
                        layer.msg("發送成功，請前去郵箱檢視驗證碼");
                    } else {
                        layer.msg(response.error);
                    }
                }
            });
            return false;
        });
        //確認
        $("#btnOK").click(function () {
            var isValid = $("#vercode").validate().form();
            if (!isValid) {
                return false;
            }
            $.ajax({
                url: '/Member/ForgetPwd?Register=0',
                //data: $("#form1").serialize(),
                data: {
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                    "email": $('input[id="email"]').val(),
                    "vercode": $('input[id="vercode"]').val(),
                    "verId": $('input[id="verId"]').val(),
                },
                headers: {
                    'X-CSRF-TOKEN': $('input[name="__RequestVerificationToken"]').val(),
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val(),
                    '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val(),
                    'CSRFToken': $('input[name="__RequestVerificationToken"]').val(),
                    'csrf_token': $('input[name="__RequestVerificationToken"]').val(),
                    'OWASP_CSRFTOKEN': $('input[name="__RequestVerificationToken"]').val(),
                },
                type: "post",
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        layer.msg("信箱已認證");
                    } else {
                        layer.msg(response.error);
                    }
                }
            });
            return false;
        });

    </script>
    <style nonce="@nonce">
        span{
            color:red;
        }
    </style>
}
<div class="container">
<div class='card backgroundcolor member_box'>
    <h1>註冊</h1>
    <hr />
  <form asp-action="Register" id="Register">
    <div class="row">
        <div class="col-md-4">
          
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <span style='color: red;'>*</span><label class="control-label">帳號</label>
                    <input asp-for="Account" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Account" class="text-danger"></span>
                </div>
                </div>
                  <div class="col-md-4">
                <div class="form-group">
                    <span style='color: red;'>*</span><label class="control-label">密碼(組成須包含英文大寫小寫、數字及特殊符號)</label>
                        <input asp-for="Passwd" class="form-control" type="password" autocomplete="off" />
                    <span asp-validation-for="Passwd" class="text-danger"></span>
                </div></div>
                  <div class="col-md-4">
                <div class="form-group">
                    <span style='color: red;'>*</span><label class="control-label">確認密碼</label>
                        <input id="rePasswd" name="rePasswd" class="form-control" type="password" autocomplete="off" />
                </div></div>
                  <div class="col-md-4">
                <div class="form-group">
                    <span style='color: red;'>*</span><label class="control-label">電子信箱</label>
                        <input asp-for="Email" class="form-control" id="email" autocomplete="off" />
                    <button type="button" class="btn btn-primary genbtn" id="btnSend">寄送驗證碼</button>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div></div>
                  <div class="col-md-4">
                <div class="form-group">
                    <span style='color: red;'>*</span><label class="control-label">驗證碼</label>
                        <input name="captchaCode" class="form-control" id="vercode" type="text" autocomplete="off" /><button class="btn btn-primary genbtn" id="btnOK" type="button">認證</button>
                </div></div>
                  <div class="col-md-4">
                <div class="form-group">
                    <span style='color: red;'>*</span><label class="control-label">姓名</label>
                        <input asp-for="Name" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div></div>
                  <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">職稱</label>
                        <input asp-for="Position" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div></div>
                  <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">聯絡地址</label>
                        <input asp-for="Addr" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Addr" class="text-danger"></span>
                </div></div>
                  <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">連絡電話</label>
                        <input asp-for="Tel" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Tel" class="text-danger"></span>
                </div></div>
                  <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">公司名稱</label>
                        <input asp-for="CompanyName" class="form-control" autocomplete="off" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                </div>
                  <div class="col-md-4">
                <div class="form-group">
                    <span style='color: red;'>*</span><label class="control-label">用戶類型</label>
                    <div class="row">
                    <div class="col-md-6">
                        <input asp-for="UserType" type="radio" value="其他" name="UserType" checked/>
                        <label class="form-check-label">其他</label>
                    </div>
                    <span asp-validation-for="UserType" class="text-danger"></span>
                </div>
                </div>
                  </div>
  <div class="col-md-12">
<div class="form-group" style="text-align:center">
                    <input type="submit" value="註冊" class="btn btn-primary" style="width:200px" />
                </div>
                
                </div>
        </div> 
</form>
</div></div>
